{
  "arrowParens": "always",
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": "*.vue",
      "options": {
        "semi": false
      }
    }
  ]
}
