.form-control, .form-control:focus, .form-control:hover{
    border: 1px solid black;
    border-radius: 0 !important;
}

.input-group-append{
    position: absolute;
    height: 100%;
    right: 5px;
    border: 1px solid black;
    border-left: 0 !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    cursor: pointer !important;
    z-index: 100;
}

.invalid-input, .invalid-input:focus, .invalid-input:hover{
    border: 1px solid red;
}